.ab-column{
    display: flex;
    height: 100vh;
}

.ab-col-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    position: relative;
    height: 100%;
}

.ab-col-right{
    flex: 1;
    background-color: rgb(39, 39, 39);
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.ab-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgb(206, 151, 0);
}

.ab-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ab-title{
    font-weight: bold;
    font-size: 50px;
}

.ab-sub{
    margin: 20px 0px;
    margin-right: 50px;
    color: rgb(206, 151, 0);
}

.ab-desc{
    margin-right: 50px;
    text-justify: auto;
}