.project-list{
    height: 100vh;
    background-color: rgb(39, 39, 39);
}

.project-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.proj-title{
    align-items: center;
    font-size: 60px;
    margin-top: 100px;
    text-justify: auto;
}

.horizontal-bar{
    clip-path: polygon(0 0, 100% 0, 100% 1%, 0 1%);
    background-color: rgb(206, 151, 0);
    width: 100%;
    height: 100%;
    position: absolute;
}

.horizontal-bar2{
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    background-color: rgb(206, 151, 0);
    width: 100%;
    height: 100%;
    position: absolute;
}

.col-div{
    display: flex;
}

.left-col{
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.title-desc{
    font-weight: 100;
    margin-left: 50px;
    color: rgb(206, 151, 0);
    text-justify: auto;
}

.sub-desc{
    margin-left: 50px;
}

.desc-pro{
    margin: 10px 50px;
    text-justify: auto;
}

.right-col{
    flex: 1;
    align-items: center;
    justify-items: center;
}

.prod-video{
    width: 80%;
    height: auto;
    margin: 100px 100px;
}