.project-list{
    height: 100vh;
    background-color: rgb(39, 39, 39);
    display: flex;
}

.proj-title{
    margin-left: 50px;
    font-size: 40px;
    text-justify: auto;
}

.horizontal-bar{
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    background-color: rgb(206, 151, 0);
    width: 100%;
    height: 100%;
    position: absolute;
}

.horizontal-bar2{
    clip-path: polygon(0 90%, 100% 90%, 100% 91%, 0 91%);
    background-color: rgb(206, 151, 0);
    width: 100%;
    height: 100%;
    position: absolute;
}

.left-col{
    flex: 1;
    background-color: rgb(39, 39, 39);
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.title-desc{
    font-weight: 100;
    margin: 10px 50px;
    color: rgb(206, 151, 0);
    text-justify: auto;
}

.sub-desc{
    margin-left: 50px;
    font-size: 20px;
}

.desc-pro{
    margin: 5px 50px;
    text-justify: auto;
    font-size: 20px;
}

.right-col{
    flex: 1;
    align-items: center;
    justify-items: center;
    display: flex;
}

.prod-video{
    width: 80%;
    height: auto;
    margin: 0px 100px;
}

/*@media screen and (max-width: 480px){
    .project-list{
        flex-direction: column;
        text-align: center;
        padding-bottom: 100px;
    }

    .left-col{
        padding-top: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    .proj-title{
        font-size: 30px;
        margin: 0 20px;
    }

    .sub-desc{
        text-align: center;
        font-size: 15px;
        margin: 0 20px;
    }

    .desc-pro{
        font-size: 15px;
    }

    .right-col{
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .horizontal-bar{
        display: none;
    }

    .horizontal-bar2{
        display: none;
    }

}*/

@media screen and (max-width: 1380px){
    .proj-title{
        font-size: 30px;
        text-justify: auto;
    }

    .desc-pro{
        margin: 5px 50px;
        text-justify: auto;
        font-size: 15px;
    }
}